*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
.check{
    color: white;
    background-color: black;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    font-family: sans-serif;
    font-size: small;
    
    
}
.check a{
    color:  #ce0771;
    text-decoration: none;
}
.check a:hover{
    color: #f04ea4 ;
}
.checkx{
    margin-right: 20px;
    float: right;
    color:#888;
    font-weight:bolder;
    font-size: 20px;
    cursor: pointer;
    
}
.checkx:hover{
    color:#000;
    background-color: gray;
    border-radius: 50%;
    
}
#header{
    background-color: white;
    padding: 30px;
  
}
#header .head{
    float: right;
    padding-right: 10px;
}

#header li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}
#header li a{
    
    color:rgb(131, 127, 127);
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
}
#header li svg{
    width: 2%;
}
    /*explore*/
.dropdownsexplore{
        position: relative;
        display: inline;
    }
.dropdown-contents-explore{
        display: none;
        position: absolute;
        background-color: white;
        width: 100vw;
        border-radius: 5px;
        margin-left: -10%;
        top: 20px;
        padding-right: 20%;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
.dropexplore{
        color: black;
        cursor: pointer;
       
    }
.dropdown-contents-explore .drop1explore a{
        padding: 10px;
        text-decoration: none;
        display: inline;
        color: black;
        
    }
.dropdown-contents-explore a:hover{
        color:  gray;
    }
.dropdownseplore:hover .dropdown-contents-explore{
        display: inline;
    }
.drop1explore{
        display: inline;
        width: 200px;
        color: black;
        float: left;
        padding-right: 20px;
        
    }
.explore li{
    display: inline-block;
    float: left;
   
    
}
.explore li a{
    color: black;
}
    /*for designers*/
.dropdownsdesign{
    position: relative;
    display: inline;
}
.dropdown-contents-design{
    display: none;
    position: absolute;
    background-color: white;
    width: 100vw;
    border-radius: 5px;
    margin-left: -290%;
    top: 20px;
    padding-right: 20%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    

}
.badge-pro{
    color: white;
    background-color:#f768b4;
    border-radius:3px;
    font-size: 12px;
    padding-left: 2px;
    padding-right:2px;
    margin-left: 4px;
}
.dropdesign{
    color: black;
    cursor: pointer;
   
}
.dropdown-contents-design .drop1design a{
    padding: 10px;
    text-decoration: none;
    display: inline;
    
}
.dropdown-contents-design a:hover{
    color:  gray;
}
.dropdownsdesign:hover .dropdown-contents-design{
    display: inline;
}
.drop1design{
    display:block;
    width: 200px;
    color: black;
    float: left;
    padding-right: 20px;
    
}
    /*hiring designers*/
.dropdowns{
    position: relative;
    display: inline;
}
.dropdown-contents{
    display: none;
    position: absolute;
    background-color: white;
    width: 100vw;
    border-radius: 5px;
    margin-left: -380%;
    top: 20px;
    padding-right: 20%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.drop{
    color: black;
    cursor: pointer;
   
}
.dropdown-contents .drop1 a{
    padding: 10px;
    text-decoration: none;
    display: inline;
    
}
.dropdown-contents a:hover{
    color:  gray;
}
.dropdowns:hover .dropdown-contents{
    display: inline;
}
.drop1{
    display: inline;
    width: 200px;
    color: black;
    float: left;
    padding-right: 20px;
    
}

.signin{
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(131, 127, 127);
    padding-right: 20px;
}
.head #signup{
    color:white;
    background-color:#f768b4 ;
    border-radius: 6px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 14px;

}
.signup{
    color:white;
    background-color:#f768b4 ;
    border-radius: 6px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 14px;

}
#container{
    background-color: rgb(230, 233, 236);
    top: 0;
    height:50%;
    padding-top:150px;
    padding-bottom:150px;
    padding-left:60px;
    margin-bottom: 40px;
}
#container p{
    padding-bottom: 30px;
    width: 50%;
    font-family: sans-serif;
    font-size: 16px;
}
#container h1{
    width: 50%;
    font-family: sans-serif;
    font-size: 24px;
    padding-bottom:10px;
}
#container span{
    float: right;
    padding-top: 80px;
    color: gray;
    padding-right: 90px;
}
#container span a{
    color: gray;
}
/*dropdown*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow:0 0 6px  #eed9e4;
    top: 50px;
    border-radius: 8px;
    margin-left: 30px;
    padding-right:20px ;

}
.dropbtn{
    background-color:white;
    color: black;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 16px;
    border-radius:10px;
    margin-right: 15px;
    margin-left: 30px;
}
.dropbtn:hover, .dropbtn:focus{
    border: 3px solid thistle;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.dropdown a:hover{
    background-color:  gray;
}
.show{
    display: block;
}
#list{
    
    background-color: white;
    margin-bottom: 40px;
}
#list li{
    list-style-type: none;
    display: inline;
}
#list li a{
    color: black;
    text-decoration: none;
    padding:10px;
    font-family: sans-serif;
    font-size: 14px;

}

span .signupcontinue{
    color: white;
    background-color:#f768b4 ;
    border-radius: 6px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px; 
}
span .orsignin{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: #f768b4;
    font-weight: bold;
    padding-left: 50px;
}

#footer{
    background-color:rgb(230, 233, 236) ;
    padding: 40px;
}
#footer table td{
    width: 20%;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#footer table td a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.foto div{
    list-style-type: none;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    
}

.fot span {
    animation: remoteFadeInOut 69s linear infinite 0s;
    opacity: 0;
    position: absolute;
    margin-left: -40px;
  }

.fot span:nth-child(2) {
      webkit-animation-delay: 3s;
      animation-delay: 3s;
    }
.fot span:nth-child(3) {
      webkit-animation-delay: 6s;
      animation-delay: 6s;
    }
.fot span:nth-child(4) {
      webkit-animation-delay: 9s;
      animation-delay: 9s;
    }
.fot span:nth-child(5) {
      webkit-animation-delay: 12s;
      animation-delay: 12s;
    }
.fot span:nth-child(6) {
      webkit-animation-delay: 15s;
      animation-delay: 15s;
    }
.fot span:nth-child(7) {
      webkit-animation-delay: 18s;
      animation-delay: 18s;
    }
.fot span:nth-child(8) {
      webkit-animation-delay: 21s;
      animation-delay: 21s;
    }
.fot span:nth-child(9) {
      webkit-animation-delay: 24s;
      animation-delay: 24s;
    }
.fot span:nth-child(10) {
      webkit-animation-delay: 27s;
      animation-delay: 27s;
    }
.fot span:nth-child(11) {
      webkit-animation-delay: 30s;
      animation-delay: 30s;
    }
.fot span:nth-child(12) {
      webkit-animation-delay: 33s;
      animation-delay: 33s;
    }
.fot span:nth-child(13) {
      webkit-animation-delay: 36s;
      animation-delay: 36s;
    }
.fot span:nth-child(14) {
      webkit-animation-delay: 39s;
      animation-delay: 39s;
    }
.fot span:nth-child(15) {
      webkit-animation-delay: 42s;
      animation-delay: 42s;
    }
.fot span:nth-child(16) {
      webkit-animation-delay: 45s;
      animation-delay: 45s;
    }
.fot span:nth-child(17) {
      webkit-animation-delay: 48s;
      animation-delay: 48s;
    }
.fot span:nth-child(18) {
      webkit-animation-delay: 51s;
      animation-delay: 51s;
    }
.fot span:nth-child(19) {
      webkit-animation-delay: 54s;
      animation-delay: 54s;
    }
.fot span:nth-child(20) {
      webkit-animation-delay: 57s;
      animation-delay: 57s;
    }
.fot span:nth-child(21) {
      webkit-animation-delay: 60s;
      animation-delay: 60s;
    }
.fot span:nth-child(22) {
      webkit-animation-delay: 63s;
      animation-delay: 63s;
    }
.fot span:nth-child(23) {
      webkit-animation-delay: 66s;
      animation-delay: 66s;
    }

  @keyframes remoteFadeInOut {
    0% { opacity: 0; }
    1% { opacity: 1; }
    2% { opacity: 1; }
    3% { opacity: 1; }
    4% { opacity: 1; }
    5% { opacity: 0; }
  }

.dribbble{
    width: 30%;
    padding-left:10px;
    font-family: sans-serif;
    font-size: 16px;
}
.dribbble img{
    padding-right:10px;
}

.creative{
    width: 30%;
    display: inline;
}
.creative a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    width: 10%;
}
.dropdownmenu{
    position: relative;
    display: inline-block;

}
.dropbotton{
    background-color:white;
    color: black;
    padding: 8px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 16px;
    border-radius:10px;

    

}
.dropdown-content-botton{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow:0 0 6px  #eed9e4;
    top: 50px;
    border-radius: 8px;
    padding-right:20px ;
    width: 100vw;
    border-radius: 5px;
    margin-left: -978%;
   

}
.dropbotton:hover, .dropbotton:focus{
    border: 3px solid thistle;
}
.dropdown-content-botton a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:inline;
    font-size: 12px;
}
.dropdownmenu a:hover{
    background-color:  gray;
}
.show{
    display: block;
}
.dropdown-content-botton form .sed{
    display:block;
    float: left;
}
.noww{
    position: relative;
    display: inline-block;

}
.now{
    background-color:white;
    color: black;
    padding: 8px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 16px;
    border-radius:10px;

}
.now-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow:0 0 6px  #eed9e4;
    top: 50px;
    border-radius: 8px;
    margin-left: 30px;
    padding-right:20px ;
}
.now-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.now:hover, .now:focus{
    border: 3px solid thistle;
}
